.comment {
  font-size: var(--commentFontSize);
  margin-bottom: 40px;

  & .author {
    font-style: italic;
  }
}

.comment-level {
  margin-left: var(--commentLevelMargin);
  position: relative;

  &:after {
    background-color: var(--primary);
    box-shadow: var(--termShadow);
    content: '';
    height: 100%;
    left: -var(--commentLevelMargin);
    opacity: 0.8;
    position: absolute;
    top: 0;
    width: 2px;
  }
}
