button {
  @apply --fonts;

  background: transparent;
  border: 2px solid var(--primary);
  box-shadow: var(--termShadow);
  cursor: pointer;
  outline: none;
  transition: opacity 0.2s ease;

  &[disabled] {
    opacity: 0.5;
  }
}

input {
  @apply --fonts;

  background: var(--primary);
  border-width: 0;
  box-shadow: var(--termShadow);
  color: var(--secondary);
  max-width: 80px;
  outline: none;
  padding: 4px;

  &::-webkit-inner-spin-button {
    display: none;
  }
}

label {
  display: inline-block;
  margin: 0 16px 16px 0;
}

.btn-group {
  display: flex;

  & button {
    margin-right: 16px;
  }
}

.form-group {
  margin-bottom: 16px;
}
