@import "variables.css";

@import "comments.css";
@import "forms.css";
@import "item.css";

* {
  box-sizing: border-box;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.7;
  }
}

body {
  background-color: var(--secondary);
  color: var(--primary);
  font-family: monospace;
  font-size: var(--fontSize);
  margin: 0;
  min-height: 100vh;
  position: relative;
  text-shadow: var(--termShadow);

  -webkit-tap-highlight-color: var(--primary);

  /* scanlines effect */
  &:before {
    background: linear-gradient(color(var(--secondary) l(50%)) 50%, transparent 50%);
    background-repeat: repeat-y;
    background-size: 100% 4px;
    content: '';
    height: 100%;
    opacity: 0.1;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

h2 {
  font-size: var(--h2FontSize);
}

h3 {
  font-size: var(--h3FontSize);
}

html {
  background-color: color(var(--secondary) l(5%));
}

header {
  display: inline-block;
  margin-bottom: 16px;

  & .header-ascii {
    font-size: 2.5vw;
    max-width: 100%;
    white-space: pre;
  }

  & .header-tagline {
    text-align: end;
  }
}

nav {
  background-color: var(--primary);
  box-shadow: var(--termShadow);
  white-space: pre;

  & ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 48px;

    & li a {
      color: var(--secondary);
      margin-right: 8px;
    }
  }
}

p {
  margin: 12px 0;
}

.category-item {
  display: flex;

  & .item-rank {
    flex-shrink: 0;
    font-size: 18px;
    width: 48px;
  }
}

.container {
  margin: 0 auto;
  max-width: 768px;
  padding: 8px;
}

.html-content {
  margin-bottom: 12px;
}

.show-more {
  font-weight: bold;
}

@media (min-width: 768px) {
  header .header-ascii {
    font-size: 16px;
  }
}
