:root {
  --primary: #F49E42;
  --secondary: #111;

  --fontSize: 16px;

  --termShadow: 0 0 4px color(var(--primary) l(- 20%));

  --fonts: {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-shadow: inherit;
  }
}

